botbuilder_ai==4.16.1
botbuilder_core==4.16.1
botbuilder_dialogs==4.16.1
botbuilder_integration_aiohttp==4.16.1
botbuilder_schema==4.16.1
Flask==3.0.3
Flask_Cors==4.0.1
ibm_watson_machine_learning==1.0.360
langchain==0.2.15
python-dotenv==1.0.1
Requests==2.32.3
slack_bolt==1.20.1
flask 
flask_cors